.mdl-layout__drawer-button {
 padding-top: 10px;   
 background-color: transparent !important;
}
.mdl-layout__drawer {
    border: 0; 
    height: 100%; 
    position: fixed;
}
.mdl-layout__drawer .mdl-layout-title a {
    font-weight: bold;
    text-decoration: none;
    color: #757575;
}
/* Radio COLOUR */
.mdl-layout__header {
    background-color: #310c04;
}
.mdl-layout__tab-bar {
    background-color: #310c04;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

.demo-card-wide.mdl-card {
    width: 100%;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
.card .title {
    line-height: normal !important; 
    font-size: 1.6em !important;
}
*::-webkit-scrollbar {
    display: none !important;
}
.mdl-grid {
    padding: 0px !important;
}
.mdl-cell--12-col {
    width: 100% !important;
    margin: 0px !important;
    text-align: center;
}
.mdl-cell {
    width: 100% !important;
    margin: 5px !important;
}
.hidden {
    display: none;
}
.nothidden {
    display: block;
}
.dark {
    background-color: black !important;
    color: white !important;
}
.light {
    color: black !important;
    background-color: white !important;
}
.story_landing a {
        text-decoration: none !important;
        color: inherit !important;
        font-weight: 600 !important;
    }
/* Header bar colours */
.business {
    background-color: #085489;
}
.entertainment {
    background-color: #c083c2;
}
.lifeandstyle {
    background-color: #dc5073;
}
.national {
    background-color: #1d4367;
}
.opinion {
    background-color: #ed1a3b;
}
.sport {
    background-color: #a41b19;
}
.technology {
    background-color: #2E6842;
}
.travel {
    background-color: #76cacb;
}
.world {
    background-color: #0c64a0;
}
.topstories {
    background-color: #256091;
}

.rnz-art {
	background-color: #310c04;
}